<h2 style="text-align: center; margin-top: 10px;">Showing {{ filter_value }} tasks</h2>
<div style="padding: 10px; border: solid 1px #ccc; background-color: #f9f9f9; border-radius: 5px; margin-top: 20px;">
    <ul style="list-style: none; padding: 0;">
        {% for task in tasks %}
            <li style="padding: 10px; margin-bottom: 5px; border-bottom: 1px solid #ddd;">
                <span style="font-weight: bold;">{{ task.name }}</span> - {{ task.description }}
                <div style="margin-top: 5px;">
                    <a href="{% url 'edit' task.id %}" style="text-decoration: none; color: #007BFF; margin-right: 10px;">Edit</a>
                    <a href="{% url 'delete' task.id %}" style="text-decoration: none; color: #FF0000;" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
  