{% extends 'base.html' %}
{% block content %}
<div style="display: flex; align-items: center; justify-content: center; margin-top: 100px;">
    <div style="width: 700px;">
        <h2 style="color: orangered; font-weight: bolder; margin-left: 40%;">Your tasks</h2>
        <table style="border-collapse: collapse; width: 100%;">
            <tr style="background-color: orangered; color: white; text-align: left;">
                <th style="border: 1px solid white; padding: 15px;">Task Name</th>
                <th style="border: 1px solid white; padding: 15px;">Task Description</th>
                <th style="border: 1px solid white; padding: 15px;">Category</th>
                <th style="border: 1px solid white; padding: 15px;">Actions</th>   
            </tr>
            {% for task in tasks %}
            <tr style="height: 50px;">
                {% if task.status %}
                <td style="border: 1px solid black; padding: 15px;">  <strike>{{ task.name }}</strike></td>
                <td style="border: 1px solid black; padding: 15px;"><strike>{{ task.description }}</strike></td>
                <td style="border: 1px solid black; padding: 15px;"><strike>{{ task.category }}</strike></td>
                <td style="border: 1px solid black; padding: 15px;"><a style="text-decoration: none; color: white; border-radius: 8px; padding: 5px 5px; border:1px white solid; background-color: orangered;" href="{% url 'delete' task.name %}">Delete task</a></td>
                {% else %}
                <td style="border: 1px solid black; padding: 15px;">{{ task.name }}</td>
                <td style="border: 1px solid black; padding: 15px;">{{ task.description }}</td>
                <td style="border: 1px solid black; padding: 15px;">{{ task.category }}</td>
                <td style="border: 1px solid black; padding: 15px;"><a style="text-decoration: none; color: white; border-radius: 8px; padding: 5px 5px; border:1px white solid; background-color: orangered;" href="{% url 'finished' task.name %}">Mark Finished</a></td>
                {% endif %}
            </tr>
          {% endfor %}
        </table>
    </div>
</div>
{% endblock %}